 Melenie Anahi Treviño Elizondo
 ### Ejercicio 1

 Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [5]:
Matricula = 1806559
Nombre = "Melenie Anahi Treviño Elizondo"
print (Matricula,Nombre)

1806559 Melenie Anahi Treviño Elizondo

 ### Ejercicio 2
  
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [1]:
a=int(input ("Introducir numero:"))
b=int(input ("Introducir otro numero:"))

print ("Suma= ",a+b)
print ("Resta= ",a-b)
print ("Multiplicacion= ",a*b)
print ("Division= ",a/b)
print ("Exponente= ",a**b)

Introducir numero:2
Introducir otro numero:2
Suma=  4
Resta=  0
Multiplicacion=  4
Division=  1.0
Exponente=  4

### Ejercicio 3
 Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [13]:
numeros = [i*3 for i in range(1,11)]
print (numeros)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [17]:
def sumar(numeros):
    suma=0
    for i in range(len(numeros)):
        suma=suma+numeros[i]
    return suma
sumar(numeros)

165

### Ejercicio 4
*Con una función de if else, revisar si un número es par o es impar.

In [18]:
a =int(input ("Introducir numero:"))

if a % 2 == 0:
    print('El número', a, 'es par.')
else:
    print('El número', a, 'es impar.')

Introducir numero:2
El número 2 es par.

*Con una función de if else, revisar si un número es primo o no

In [2]:
a = int(input("Introduzca un número: "))

raiz=int(a**.5)
primo=True
for i in range(2,raiz+1):
    if a%i==0:
        print("No es número primo")
        primo=False
        break
if primo==True:
    print("Es número primo")

Introduzca un número: 7
Es número primo

### Ejercicio 5
 Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [45]:
def calculadora1(a,b):  #Diccionarios
    suma=a+b
    resta=a-b
    multiplicacion=a*b
    division=a/b
    exponencial=a**b
    return {"Suma":suma,"Resta":resta,"Multiplicación":multiplicacion,"División":division,"Exponente":exponencial}
calculadora1 (4,4)

{'Suma': 8,
 'Resta': 0,
 'Multiplicación': 16,
 'División': 1.0,
 'Exponente': 256}

# Ejercicios con estructuras básicas de python
 
### Tuplas
 *Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [46]:
flot=3.1416
inte=59
bol=False
comp=1j

print(type(flot))
print(type(inte))
print(type(bol))
print(type(comp))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

 *Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [48]:
tupla =(2,3,4,5,6,8,9)

print("Primer valor: ",tupla[0])
print("Último valor: ",tupla[-1])

Primer valor:  2
Último valor:  9

*Añadir 3 valores de string a la tupla

In [49]:
tupla+("Elias","Michelle","Luis")

(2, 3, 4, 5, 6, 8, 9, 'Elias', 'Michelle', 'Luis')

*Verificar si una variable existe dentro de la tupla.

In [51]:
9 in tupla

True

### Listas
*Crear una lista con 40 elementos aleatorios enteros.

In [9]:
import random as r
lista=[r.randint(1, 100) for i in range(40)]
lista

[95,
 65,
 21,
 53,
 32,
 10,
 28,
 41,
 76,
 60,
 60,
 29,
 14,
 54,
 22,
 30,
 83,
 41,
 100,
 32,
 46,
 30,
 58,
 75,
 14,
 71,
 66,
 88,
 79,
 41,
 97,
 100,
 35,
 65,
 9,
 87,
 35,
 72,
 92,
 96]

*Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [30]:
def par_imp(lista):
    par=[]
    impar=[]
    for i in range(len(lista)):
        if lista[i]%2==0:
            par.append(lista[i])
        else:
            impar.append(lista[i])
    return par,impar


par,impar=par_imp(lista)
print("Números pares: ",par)
print("Números impares: ",impar)

Números pares:  [32, 10, 28, 76, 60, 60, 14, 54, 22, 30, 100, 32, 46, 30, 58, 14, 66, 88, 100, 72, 92, 96]
Números impares:  [95, 65, 21, 53, 41, 29, 83, 41, 75, 71, 79, 41, 97, 35, 65, 9, 87, 35]

*Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [31]:
p=len(par)
i=len(impar)
print("Cantidad de números pares: ",p)
print("Cantidad de números impares: ",i)

Cantidad de números pares:  22
Cantidad de números impares:  18

*Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [33]:
par.sort(reverse=True)
par

[100,
 100,
 96,
 92,
 88,
 76,
 72,
 66,
 60,
 60,
 58,
 54,
 46,
 32,
 32,
 30,
 30,
 28,
 22,
 14,
 14,
 10]

In [34]:
impar.sort(reverse=True)
impar

[97, 95, 87, 83, 79, 75, 71, 65, 65, 53, 41, 41, 41, 35, 35, 29, 21, 9]

*Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [35]:
lista.extend([12,45,78,90])
lista

[95,
 65,
 21,
 53,
 32,
 10,
 28,
 41,
 76,
 60,
 60,
 29,
 14,
 54,
 22,
 30,
 83,
 41,
 100,
 32,
 46,
 30,
 58,
 75,
 14,
 71,
 66,
 88,
 79,
 41,
 97,
 100,
 35,
 65,
 9,
 87,
 35,
 72,
 92,
 96,
 12,
 45,
 78,
 90]

In [38]:
lista.pop(-1)
lista

[95,
 65,
 21,
 53,
 32,
 10,
 28,
 41,
 76,
 60,
 60,
 29,
 14,
 54,
 22,
 30,
 83,
 41,
 100,
 32,
 46,
 30,
 58,
 75,
 14,
 71,
 66,
 88,
 79,
 41,
 97,
 100,
 35,
 65,
 9,
 87,
 35,
 72,
 92,
 96,
 12,
 45,
 78]

In [41]:
a =int(input ("Introducir numero:"))
print("Count",lista.count(a))

Introducir numero:89
Count 0

In [49]:
lista.reverse()
lista

[78,
 45,
 12,
 96,
 92,
 72,
 35,
 87,
 9,
 65,
 35,
 100,
 97,
 41,
 79,
 88,
 66,
 71,
 14,
 75,
 58,
 30,
 46,
 32,
 100,
 41,
 83,
 30,
 22,
 54,
 14,
 29,
 60,
 60,
 76,
 41,
 28,
 10,
 32,
 53,
 21,
 65,
 95]

### Diccionarios
*Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [51]:
dic= {"Michelle":16,"Luis":45,"Rocio":43,"Jose":20,"Elias":9,"Jose":20}
dic

{'Michelle': 16, 'Luis': 45, 'Rocio': 43, 'Jose': 20, 'Elias': 9}

*Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [56]:
sorted (dic.values())

[9, 16, 20, 43, 45]

*Usando el diccionario y un loop, imprimir solo los nombres.

In [57]:
for i in dic:
    print(i)

Michelle
Luis
Rocio
Jose
Elias

*Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [58]:
dic["Mika"]=1
dic["Monse"]=16
dic

{'Michelle': 16,
 'Luis': 45,
 'Rocio': 43,
 'Jose': 20,
 'Elias': 9,
 'Mika': 1,
 'Monse': 16}

### Sets
*Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [59]:
s={r.randint(1,25) for i in range(100)}
s

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

*Comprueba la longitud de tu set.

In [60]:
len(s)

25

*Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [61]:
m={r.randint(1,10) for i in range(5)}
m

{1, 2, 6, 8}

In [62]:
a =int(input ("Introducir numero:"))
a in m

Introducir numero:2

True